{% extends 'base.html' %}

{%block title%}User List{%endblock%}

{%block content%}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{username}} {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


    <h1>Change Credentials</h1>
    <br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.shop.label(class="form-label") }}
        {{ form.shop(class="form-control", value=shop_id) }}
        <br/>
        {{ form.book.label(class="form-label") }}
        {{ form.book(class="form-control", value=book_id) }}
        <br/>
        {{ form.how_many.label(class="form-label") }}
        {{ form.how_many(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
<br/><br/><br/>

{%endblock%}