{% extends 'base.html' %}

{%block title%}User List{%endblock%}

{%block content%}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


    <h1>Update Book </h1>
    <br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control", value=book.title) }}
        <br/>
        {{ form.isbn.label(class="form-label") }}
        {{ form.isbn(class="form-control", value=book.isbn)}}
        <br/>
        {{ form.number_of_pages.label(class="form-label") }}
        {{ form.number_of_pages(class="form-control", value=book.number_of_pages)}}
        <br/>
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control", value=book.description)}}
        <br/>
        {{ form.cena.label(class="form-label") }}
        {{ form.cena(class="form-control", value=book.cena)}}
        <br/>
        {{ form.author_id.label(class="form-label") }}
        {{ form.author_id(class="form-control", value=book.author_id)}}
        <br/>
        {{ form.category_id.label(class="form-label") }}
        {{ form.category_id(class="form-control", value=book.category_id)}}
        <br/>
        {{ form.publish_house_id.label(class="form-label") }}
        {{ form.publish_house_id(class="form-control", value=book.publish_house_id)}}
        <br/>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
<br/><br/><br/>

{%endblock%}