{% extends 'base.html' %}

{%block title%}User List{%endblock%}

{%block content%}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


    <h1>Update Book </h1>
    <br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.city.label(class="form-label") }}
        {{ form.city(class="form-control", value=shop.city) }}
        <br/>
        {{ form.street.label(class="form-label") }}
        {{ form.street(class="form-control", value=shop.street)}}
        <br/>
        {{ form.post_code.label(class="form-label") }}
        {{ form.post_code(class="form-control", value=shop.post_code)}}
        <br/>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
<br/><br/><br/>

{%endblock%}